<div class="sidebar">
  <div class="logo">
    <img src="https://www.ilboursa.com/i/info/b/PX1000_bd5e034e-1c55-4f6b-808d-91c325e4b91d_b.jpg" alt="Logo Wifak Bank">
  </div>

  <nav class="nav">
    <a href="./ajouter-contact">Ajouter un contact</a>
    <a href="/envoyer-email" >Envoyer Email</a>
    <a href="./historique">Historique des Emails Programmés</a>
    <a href="./dashboard">Dashboard</a>
    <a href="./ajouter-campagne">Ajouter une Campagne</a>
    <a href="./visualiser-campagne">Visualiser Campagnes</a>
  </nav>
</div>
